@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  flex-wrap: wrap;
}

main .image-section {
  display: flex;
  flex: 1;
}

main .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  padding-left: 40px;
}

.main-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round {
  max-width: 80%;
}

.woman {
  position: absolute;
  max-width: 80%;
  bottom: 80px;
  left: 75px;
}

.services {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 17px;
  background-color: #6b016d;
  color: white;
  border-radius: 10px;
}

.service {
  padding: 0 60px;
}

.linex {
  border-left: 2px solid rgb(255, 255, 255);
  height: 50px;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.tile {
  font-size: 50px;
}

.description {
  text-align: justify;
  width: 90%;
  font-size: 20px;
}

.name {
  margin: 0;
  color: #a101a4;
  font-weight: 700;
  font-size: 40px;
}

nav button {
  background-color: #6b016d;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px; 
}

main .text button {
  background-color: #6b016d;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #9a809b;
  
}

footer p {
  font-size: 20px;
  color: aliceblue;
}

footer section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


::-webkit-scrollbar {
  width: 5px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
  border: 3px solid transparent; /* Adds a little space around the thumb */
} 

::-webkit-scrollbar-track {
  background: lightgrey; /* Color of the scrollbar track */
  border-radius: 6px; /* Roundness of the scrollbar track */
} 

@media screen and (max-width: 1040px) {
  main {
    flex-direction: column;
    margin-bottom: 30px;
  }

  main .image-section {
    order: 1;
    justify-content: center;
  }

  main .text {
    order: 2;
    text-align: center;
    padding-left: 0;
    justify-content: center;
    align-items: center;
  }

  main .text button {
    width: 80%;
    height: 40px;
  }
}

@media screen and (max-width: 536px) {
  .service {
    padding: 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .service {
    padding: 0 40px;
  }

  .woman {
    max-width: 75%;
    bottom: 80px;
    left: 70px;
  }
}

@media screen and (max-width: 465px) {
  header {
    flex-direction: column;
  }

  .service {
    padding: 0 30px;
  }
}